body{
    background-color: #d9c7c7;
}
.inline-block{
    text-align:right;
    vertical-align: baseline;
    color: #8c4f4f;
    margin: 0 auto;
    border-radius: 3%
}
.footer{
    background-color: #8c4f4f;
    color: #f0f0f2;
    padding:2%;
    text-align: center;
    border-radius: 3%;
    
}
.ul{
    align-items:center;
    display: inline-block;
    padding: 40%;
}
.li{
    align-items: stretch;
}
.content{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding:1%;

}
#button{
    padding: 10px;
    width: 100px;
    margin: 50%;
    border-radius: 12%;
    
}
.heroImage{
    margin: auto;
    object-fit: contain;
    height: 300px;
    width:300px;

}
p.logo{
    text-align: center;
}

#logo{
    width:23%;
    padding:1%;
    text-align: center;
    border-radius: 25px;

}


nav.inline-block{
    width:73%;
    padding:1%;
}
nav{
    float: right;
    margin: 0;
    overflow:hidden;
    text-align: bottom;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}
.flexContainer{
    display: flex;
    align-items: stretch;
    background-color: #bf6079;
    color: #f0f0f2;
}

div .flexContainer{
    width: 10%;
    padding: 10%;
    margin:100px;

}
h1 {
    background-color: #8c4f4f;
    padding:2%;
    text-align: center;
    color:#f0f0f2;
}
p, h2, h3{
    margin:auto;
    text-align: center;
    padding:1%;
}
.skills, .cardsorting, .competative, .project {
    height: 300px;
    width:300px;
    object-fit: contain;
    margin: auto;
}
.workGrid{   
    grid-template-columns: repeat(2, lfr);
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 12%;
}
.user5{
    background-color: #8c4f4f;
    color:#d9c7c7;
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    border-radius: 3%;
}
.user6{
    background-color: #bf6079;
    color: #f0f0f2;
    grid-column: 2/2;
    grid-row: 1;
    text-align: center;
    border-style:groove;
    border-radius: 3%;
}
.user7{
    background-color: #bf6079;
    color: #f0f0f2;
      grid-column: 1/2;
        grid-row: 2;
        text-align: center;
        border-style:groove;
        border-radius: 3%;
    }

.user8{
    background-color: #8c4f4f;
    color:#d9c7c7;
        grid-column: 2/2;
        grid-row: 2;
        text-align: center;
        border-radius: 3%;
    }

.button2{
    text-align: center;
    display: inline-block;
    margin-bottom:12px;
    margin-left: 47.7%;
    margin-top: 12px;
}
@media only screen and (max-width:600){
    #flexContainer{
        margin:0px 5%;
        display:grid;
        grid-template-rows: 300px, 300px, 300px, 300px, 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "user1"
            "user2"
            "user3"
            "user4"
        ;
    }
}